<!DOCTYPE html>
<html>

    <head>
        <title>This is Novian's Blog</title>
    </head>
    <body>

        <header>
            <h1><a href="/">Django Girl's Tutorial</a></h1>
        </header>

        <article>
            <time>published: 03.12.2023, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>This is should be a first post. I hope there's a lot of letter here but I don't know what words I should insert here</p>
        </article>

        <article>
            <time>published: 04.12.2023, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>This is should be a second post. I hope there's a lot of letter here but I don't know what words I should insert here</p>
        </article>

    </body>
</html>